<!DOCTYPE html>
<html>
<head>
	<title></title>

	 <!-- MaterialiazeCSS Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

</head>
<body class="red lighten-3">
	<div class="container">
		<div class="row">
			<div class="center">
				<img src="/assets/img/burger.png">
				<h5>Eat-Da-Burger</h5>
			</div>
		</div>
		
	{{{body}}}

	<!-- MaterializeCSS Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>